body {
	color:#444;
	background:#991D57;
}
.wrapper {
	max-width:550px;
	width:100%;
	margin:0 auto;
	position:relative;
}
.header{
  color:#24FC08;
  font-size:28px;
  width:100%;
  padding:25px;
  background-color:#FC08F4;
  }
#form {
width:100%;
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
}
#form label span {
	cursor:pointer;
	color:#991D57;
	display:block;
	margin:5px 0;
	font-weight:1000px;
}
.footer{
  color:#F30D3F;
  font-size:17px;
  text-align:center;
  width:100%;
  padding:25px;
  background-color:#080808;
}
